<div class="row">
  <h1><%= controller.action_name %></h1>
  <h2>samples</h2>
  <ul>
    <% @dynamo_db_methods.each do |method| %>
      <% if method.to_s != 'index' %>
        <li><%= link_to(method, controller: 'samples', action: method) %></li>
      <% end %>
    <% end %>
  </uL>

  <h2>benchmarks</h2>
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel3a">To create a test data?</a>
      <div id="panel3a" class="content">
        <p>Run the following command. Billing will be raised by dataset size or throughput capacity (default of <code>read_capacity_units</code>/<code>write_capacity_units</code> is 20, and 400,000 create records.)</p>
        <p><code>bundle exec rake benchmark_records:setup</code></p>
      </div>
    </li>
  </ul>
  <ul>
    <% @benchmarks_methods.each do |method| %>
      <% if method.to_s != 'index' %>
        <li><%= link_to(method, controller: 'benchmarks', action: method) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
