<div class="row">
  <h1><%= controller.action_name %></h1>

  <% if @dynamo_db.list_tables.table_names.count > 0 %>
    <ul>
      <% for table in @dynamo_db.list_tables.table_names do %>
        <li><%= table %></li>
      <% end %>
    </ul>
  <% end %>
</div>
