<div class="row">
  <h1><%= controller.action_name %></h1>

  <h2>table_name</h2>
  <p><%= @access_log.table.table_name %></p>

  <h2>item_count</h2>
  <p><%= @access_log.table.item_count %></p>
</div>
