<div class="row">
  <h1><%= controller.action_name %></h1>
  <h2>dynamo_db</h2>
  <ul>
    <% @dynamo_db_methods.each do |method| %>
      <% if method.to_s != 'index' %>
        <li><%= link_to(method, controller: 'dynamo_db', action: method) %></li>
      <% end %>
    <% end %>
  </uL>

  <h2>benchmarks</h2>
  <p>Please register test data. (<code>bundle exec rake benchmark_records:create</code>)</p>
  <ul>
    <% @benchmarks_methods.each do |method| %>
      <% if method.to_s != 'index' %>
        <li><%= link_to(method, controller: 'benchmarks', action: method) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
