<div class="row">
  <h1><%= controller.action_name %></h1>

  <h2>items</h2>
  <% if @response.items.count > 0 %>
    <table>
      <thead>
        <tr>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <% @response.items.each do |item| %>
          <tr>
            <td><%= item %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No data.</p>
  <% end %>
</div>
